* {
    border: 1px solid purple;
}

.header {
    background-color: black;
    text-align: right;
}

.navbar li {
    background-color: white;
    list-style: none;
    display: inline-block;
    : center;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: white;
}

nav li a:hover {
    border-top-color: white;
}